#page_wrapper{
    background-image: url("../img/default_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

#header_block{
    width: 100%
}

.header_text{
    float: left;
    width: 80%;
}

.wrap{
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    height: 300px;
    overflow: hidden;
}

.logoGif{
    margin: -5px 0px 0px -5px;
}

#head{
    font-family: Arial;
    font-size: 30px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 20px;
    width: 100%;
}

#description{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-style: italic;
    color: grey;
    width: 100%;
}

#menu{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.menu_button{
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
}

a:link{
    color: #ffffff;
}

a:visited{
    color: #ffffff;
}

a:hover{
    color: #ffff32;
}

#body{
    font-family:Arial;
    font-size: 14px;
    color: #ffffff;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);
  }

#members td{
    border: 100px transparent;
    padding: 10px;
}

#members tr{
    background-color: #ffffff;
    /* opacity: 0.5; */
}

#members tr:after{
    opacity: 0.5;
}

.members_pic{
    width: 500px;
    height: auto;
    object-fit: scale-down;
}