#page_wrapper{
    background-image: url("../img/default_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

#header_block{
    width: 100%
}

.header_text{
    float: left;
    width: 80%;
}

.wrap{
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    height: 300px;
    overflow: hidden;
}

.logoGif{
    margin: -5px 0px 0px -5px;
}

#head{
    font-family: Arial;
    font-size: 30px;
    font-weight: 200;
    color: #ffffff;
    margin-top: 20px;
    width: 100%;
}

#description{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-style: italic;
    color: grey;
    width: 100%;
}

#menu{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.menu_button{
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
}

a:link{
    color: #ffffff;
}

a:visited{
    color: #ffffff;
}

a:hover{
    color: #ffff32;
}

#body{
    font-family:Arial;
    font-size: 14px;
    color: #ffffff;
    margin-top: 50px;
}

#members{
    border-collapse: separate;
    border: transparent black 1px;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #31334d;
}

#members tr{
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 10px;
}

.members_pic{
    width: 400px;
    height: auto;
    object-fit: scale-down;
    padding: 20px;
}